elpa/*
custom.el
auto-save-list
backups
*~

# mode related temp files
recentf
ido.last
smex-items
ac-comphist.dat
cider-history
transient
request
url

# workspace local files
quelpa
workspace
eclipse.jdt.ls
elpy
cache
.lsp-session*
.mc-lists.el
.cache

# Network Security Manager
network-security.data
